.filtro {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  color: white;
  margin-bottom: 10px;
}

.filtro-container {
  margin-top: 10px;
  width: 100%;
  padding: 10px;
  border-radius: 15px;
  background-color: rgba(0, 0, 0, 0.7);
}

.label-poke {
  display: flex;
  gap: 5px;
}

.checkbox {
  display: inline-block;
  position: relative;
  padding-left: 15px;
  cursor: pointer;
}

.checkbox input[type="checkbox"] {
  opacity: 0;
  cursor: pointer;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #ccc;
  border-radius: 50%;
}

.checkbox:hover input[type="checkbox"] ~ .checkmark {
  background-color: #aaa;
}

.checkbox input[type="checkbox"]:checked ~ .checkmark {
  background: url("../../public/pokebola-icone.png");
  background-size: 20px;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.checkbox input[type="checkbox"]:checked ~ .checkmark:after {
  display: block;
}

.search-container {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.search-container input[type="text"] {
  flex: 1;
  border: 2px solid black;
  padding: 10px;
  border-radius: 10px;
  background: url("../../public/pokebola-icone.png");
  background-repeat: no-repeat;
  background-size: 25px;
  background-color: white;
  background-position-x: 99%;
  background-position-y: center;
  font-size: 16px;
}

.search-container button {
  flex-shrink: 0;
}

.buttons{
  display: flex;
  flex-direction: row;
  gap: 30px;
  margin-right: 5px;
  margin-left: 5px;
}


.button-form{
  border: none;
  background: transparent;
  color: white;
  cursor: pointer;
  display: flex;
  flex-direction: column;
}

.button-form:active{
  color: red;
}

.switch-container{
  display: grid;
  place-items: center;
  margin-left: 5px; 
  justify-content: center;
  align-items: center;
  color: white;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.sort{
  display: grid;
  place-items: center;
  cursor: pointer;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #727ff3;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background: url("../../public/card-back.png");
  background-size: 25px;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider.checked::before {
  background: url("../../public/pokebola-icone.png");
  background-size: 100%;
}

input:checked + .slider {
  background-color: rgb(244, 145, 145);
}


input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.region{
  display: grid;
  place-items: center;
  color: white;
}
.custom-select {
  position: relative;
  display: flex;
  align-items: center;
}

.custom-select select {
  height: 40px;
  margin-left: 10px;
  border-radius: 5px;
  appearance: none;
  width: 150px;
  background-color: #727ff3;
  color: white;
  -webkit-appearance: none;
  -moz-appearance: none;
  padding: 5px;
  padding-left: 45px;
  font-size: 16px;
  border: 2px solid black;
  -webkit-transition: .4s;
  transition: .4s;
  cursor: pointer;
}

.check select{
  background-color: rgb(244, 145, 145);
  color: black;
}

.custom-select .select-arrow {
  position: absolute;
  top: 4px;
  left: 20px;
  pointer-events: none;
  align-self: center;
}

.custom-select .select-arrow svg {
  opacity: 30%;
  width: 30px;
}

.custom-select select:focus + .select-arrow svg {
  opacity: 100%;
  animation: rotation 2s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}