* {
  margin: 0;
  padding: 0;
}

.App {
  position: relative;
  display: grid;
  place-items: center;
  background-size: 600% 600%;
  -webkit-animation: AnimationName 19s ease infinite;
  -moz-animation: AnimationName 19s ease infinite;
  animation: AnimationName 19s ease infinite;
  min-height: 100vh;

}

.to-red {
  background: linear-gradient(270deg, #ffb5ae, #f37272, #ef2a2a);
}

.to-blue {
  background: linear-gradient(270deg, #aeb7ff, #727ff3, #2a3eef);
}

@-webkit-keyframes AnimationName {
  0% {
    background-position: 0% 50%
  }

  50% {
    background-position: 100% 50%
  }

  100% {
    background-position: 0% 50%
  }
}

@-moz-keyframes AnimationName {
  0% {
    background-position: 0% 50%
  }

  50% {
    background-position: 100% 50%
  }

  100% {
    background-position: 0% 50%
  }
}

@keyframes AnimationName {
  0% {
    background-position: 0% 50%
  }

  50% {
    background-position: 100% 50%
  }

  100% {
    background-position: 0% 50%
  }
}

.poke-bg {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 400px;
  opacity: 0.5;
}

.potion {
  position: absolute;
  bottom: 60px;
  rotate: 30deg;
  left: 0;
  width: 200px;
  opacity: 0.5;
}